<div class="row row-cols-1 mb-3 row-cols-md-4 g-3">  
    <div col>
        <div class="card  m-2  rounded">
            <img src="..//../assets/images/Booking.jpg" class="card-img border">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  mx-0 my-2 w-100 py-2" (click)="GetBookings()">Bookings</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card  m-2 rounded">
            <img src="..//../assets/images/Rooms.jpg" class="card-img border">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  mx-0 my-2 w-100 py-2" (click)="GetRooms()">Rooms</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card  m-2 rounded">
            <img src="..//../assets/images/RoomType.jpg" class="card-img border">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  mx-0 my-2 w-100 py-2" (click)="GetRoomTypes()">Room Types</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card  m-2 rounded">
            <img src="..//../assets/images/Facilities.jpg" class="card-img border" >
            <div class="card-body">
                <button class="btn btn-primary btn-sm  mx-0 my-2 w-100 py-2" (click)="GetFacilities()">Facilities</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card m-2 rounded">
            <img src="..//../assets/images/locations.png" class="card-img  border">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  mx-0 my-2 w-100 py-2" (click)="GetHotelLocations()">Locations</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card m-2 rounded">
            <img src="..//../assets/images/Users.jpg" class="card-img border">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  mx-0 my-2 w-100 py-2">Users</button>                
            </div>
        </div>
    </div> 
</div>
