<nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light sticky-top" id="ftco-navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <a class="navbar-brand" href="index.html">Deluxe</a>
    <button class="navbar-toggler" type="button" *ngIf="notLoggedIn" data-toggle="collapse" data-target="#ftco-nav1" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse " id="ftco-nav" *ngIf="notLoggedIn">
      <ul class="navbar-nav">
        <li class="nav-item active"><a routerLink="" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="rooms" class="nav-link">Rooms</a></li>
        <li class="nav-item"><a routerLink="about" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse " id="ftco-nav" *ngIf="loggedIn">
      <ul class="navbar-nav navbar-end">
        <li class="nav-item active"><a routerLink="dashboard" class="nav-link">Dashboard</a></li>
        <li class="nav-item active"><a routerLink="rooms" class="nav-link">Rooms</a></li>
        <li class="nav-item"><a routerLink="bookings" class="nav-link">Bookings</a></li>
        <li class="nav-item"><a routerLink="payments" class="nav-link">Payments</a></li>
        <li class="nav-item"><a routerLink="invoices" class="nav-link">Invoices</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="ftco-nav1" *ngIf="notLoggedIn">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link border m-1 p-0 px-3 py-1  opacity-75 rounded  text-dark" data-toggle="modal" data-target="#registerModal">Register</a></li>
        <li class="nav-item"><a class="nav-link border m-1 p-0 px-3 py-1  opacity-75 rounded text-dark" data-toggle="modal" data-target="#loginModal">Login</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse " id="ftco-nav1" *ngIf="loggedIn">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" class="nav-link dropdown-toggle border rounded-pill py-1">
            <img src="./../assets/images/person_1.jpg" class="rounded-circle" height="25" width="35">apnishad@live.com
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">apnishad@live.com</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="OnLogOut()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
<router-outlet></router-outlet>

<div class="modal" tabindex="-1" id="loginModal" data-backdrop="static" app-login>
    
</div>
<div class="modal" tabindex="-1" id="registerModal" data-backdrop="static" app-register>
    
</div>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Deluxe Hotel</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Useful Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Blog</a></li>
            <li><a href="#" class="py-2 d-block">Rooms</a></li>
            <li><a href="#" class="py-2 d-block">Amenities</a></li>
            <li><a href="#" class="py-2 d-block">Gift Card</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Privacy</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Career</a></li>
            <li><a href="#" class="py-2 d-block">About Us</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>
  </div>
    </div>
  </div>
</footer>



<!-- loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>-->


