<div class="row row-cols-1 mb-3 row-cols-md-4 g-3">
    <div col>
        <div class="card text-white border-light m-2 border border-dark rounded">
            <img src="..//../assets/images/Hotel.jpg" class="card-img">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  m-1" (click)="GetHotels()">Hotels</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card border-light m-2 border border-dark rounded">
            <img src="..//../assets/images/RoomType.jpg" class="card-img">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  m-1" (click)="GetRoomTypes()">Room Types</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card border-light m-2 border border-dark rounded">
            <img src="..//../assets/images/Rooms.jpg" class="card-img">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  m-1" (click)="GetRooms()">Rooms</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card border-light m-2 border border-dark rounded">
            <img src="..//../assets/images/Booking.jpg" class="card-img">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  m-1">Bookings</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card border-light m-2 border border-dark rounded">
            <img src="..//../assets/images/Facilities.jpg" class="card-img img-fluid">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  m-1">Facilities</button>                
            </div>
        </div>
    </div>
    <div col>
        <div class="card border-light m-2 border border-dark rounded">
            <img src="..//../assets/images/Users.jpg" class="card-img">
            <div class="card-body">
                <button class="btn btn-primary btn-sm  m-1">Users</button>                
            </div>
        </div>
    </div> 
</div>
