<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New Room Types</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
 <!-- <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <button type="button" class="nav-link" id="ex1-tab-1" data-mdb-toggle="tab" data-mdb-target="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Room Details</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="ex1-tab-2" data-mdb-toggle="tab" data-mdb-target="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Room Image Gallery</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" data-mdb-target="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Room Facilities</button>
    </li>
  </ul>-->
  <!--<div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">-->
    <mdb-tabs [pills]="true">
      <mdb-tab title="Room Details">
        <h2>Room Details</h2>
        <form class="forms-sample"  [formGroup]="roomForm" (ngSubmit)="OnSubmit(roomForm)" id="rForm">
          <div class="form-group row" *ngIf="status != 0">
            <div class="col-sm-9">
              <input type="hidden" readonly  [class.is-invalid]="roomForm.get('id')['invalid'] && roomForm.get('id')['touched']" formControlName="id" class="form-control  form-control-lg" id="txtid" placeholder="ID">
              <div *ngIf="(roomForm.get('id')['invalid'] && roomForm.get('id')['touched']) || roomForm.get('id')['dirty']">
                <small class="text-danger" *ngIf="roomForm.get('id').errors && roomForm.get('id').errors['required']">please enter room id.</small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="txtnumber" class="col-sm-2 col-form-label">Room Number : </label>
            <div class="col-sm-4">
              <input type="text" [readonly]="status==2" [class.is-invalid]="roomForm.get('number')['invalid'] && roomForm.get('number')['touched']" formControlName="number" class="form-control form-control-lg" id="txtnumber" placeholder="Room Number">
              <div *ngIf="(roomForm.get('number')['invalid'] && roomForm.get('number')['touched']) || roomForm.get('number')['dirty']">
                <small class="text-danger" *ngIf="roomForm.get('number').errors && roomForm.get('number').errors['required']">please enter room type name.</small>
              </div>
            </div>
            <label for="txtguest" class="col-sm-2 col-form-label">Maximum Guests : </label>
            <div class="col-sm-4">
              <input type="text" [readonly]="status==2" [class.is-invalid]="roomForm.get('maximumGuests')['invalid'] && roomForm.get('maximumGuests')['touched']" formControlName="maximumGuests" class="form-control form-control-lg" id="txtguest" placeholder="Maximum Guests Allowed">
              <div *ngIf="(roomForm.get('maximumGuests')['invalid'] && roomForm.get('maximumGuests')['touched']) || roomForm.get('maximumGuests')['dirty']">
                <small class="text-danger" *ngIf="roomForm.get('maximumGuests').errors && roomForm.get('maximumGuests').errors['required']">please enter room type name.</small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="txtprice"  class="col-sm-2 col-form-label">Price : </label>
            <div class="col-sm-4">
              <input type="text" [readonly]="status==2" [class.is-invalid]="roomForm.get('price')['invalid'] && roomForm.get('price')['touched']" formControlName="price" class="form-control form-control-lg" id="txtprice" placeholder="Price">
              <div *ngIf="(roomForm.get('price')['invalid'] && roomForm.get('price')['touched']) || roomForm.get('price')['dirty']">
                <small class="text-danger" *ngIf="roomForm.get('price').errors && roomForm.get('price').errors['required']">please enter room price.</small>
              </div>
            </div>
            <label for="txtroomType"  class="col-sm-2 col-form-label">Room Type : </label>
            <div class="col-sm-4">
              <select  [class.is-invalid]="roomForm.get('roomTypeId')['invalid'] && roomForm.get('roomTypeId')['touched']"  formControlName="roomTypeId" class="form-control form-control-lg" id="txtroomType" >
                <option *ngFor="let rmtype of roomTypeList" [value]="rmtype.rmTypeId">{{rmtype.rmTypeName}}</option>
              </select>
              <div *ngIf="(roomForm.get('roomTypeId')['invalid'] && roomForm.get('roomTypeId')['touched']) || roomForm.get('roomTypeId')['dirty']">
                <small class="text-danger" *ngIf="roomForm.get('roomTypeId').errors && roomForm.get('roomTypeId').errors['required']">please select room type.</small>
              </div>
            </div>
          </div>            
          <div class="form-group row">
            <label for="txtdescription" class="col-sm-2 col-form-label">Description : </label>
            <div class="col-sm-10">
              <textarea type="text" [readonly]="status==2" formControlName="description" class="form-control form-control-lg" id="txtdescription" rows="4" column="20" placeholder="Description"></textarea>
            </div>
          </div>
        </form>
      </mdb-tab>
      <mdb-tab title="Room Image Gallery">
        <h2>Image Gallery</h2>
        <form class="forms-sample"  [formGroup]="uForm" (ngSubmit)="OnUpLoad(uForm)" id="upldForm">
          <div class="form-group row">
            <label for="txtufile" class="col-sm-2 col-form-label">Browse Image File : </label>
            <div class="col-sm-4"><!--[class.is-invalid]="uForm.get('ufile')['invalid'] && uForm.get('number')['touched']"-->
              <input type="file" [readonly]="status==2" #rFile (change)="OpenFile(rFile)"  formControlName="ufile" class="form-control form-control-lg" id="txtufile" placeholder="Upload Image File">
              <div *ngIf="(uForm.get('ufile')['invalid'] && uForm.get('ufile')['touched']) || uForm.get('ufile')['dirty']">
                <small class="text-danger" *ngIf="uForm.get('ufile').errors && uForm.get('ufile').errors['required']">please enter room type name.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" form="upldForm" [disabled]="!uForm.valid" >Upload</button>
          </div>
        </form>
        <div class="carousel-inner rounded-5 shadow-4-strong w-50 h-40 mx-auto">
          <mdb-carousel [controls]="true" [indicators]="true" >
            <mdb-carousel-item *ngFor="let img of roomvm.images">
              <img [src]='img.imgData' alt="" class="w-100 h-100">
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </mdb-tab>
      <mdb-tab title="Room Facilities"><h2>Room Facilities</h2></mdb-tab>
    </mdb-tabs>
    <!---->
  <!--</div>-->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="submit" class="btn btn-primary" form="rForm" *ngIf="status != 2" [disabled]="!roomForm.valid">Save</button>
</div>

