<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New Room Types</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<form class="forms-sample"  [formGroup]="fctsForm" (ngSubmit)="OnSubmit(fctsForm)">
  <div class="modal-body">
        <div class="form-group row" *ngIf="status != 0">
            <label for="txtid" class="col-sm-3 col-form-label">ID : </label>
            <div class="col-sm-9">
              <input type="text" readonly  [class.is-invalid]="fctsForm.get('id')['invalid'] && fctsForm.get('id')['touched']" formControlName="id" class="form-control  form-control-lg" id="txtid" placeholder="ID">
              <div *ngIf="(fctsForm.get('id')['invalid'] && fctsForm.get('id')['touched']) || fctsForm.get('id')['dirty']">
                <small class="text-danger" *ngIf="fctsForm.get('id').errors && fctsForm.get('id').errors['required']">please enter facility id.</small>
              </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="txticon" class="col-sm-3 col-form-label">Icon : </label>
            <div class="col-sm-9">
              <input type="text" [readonly]="status==2"  [class.is-invalid]="fctsForm.get('icon')['invalid'] && fctsForm.get('icon')['touched']" formControlName="icon" class="form-control  form-control-lg" id="txticon" placeholder="Icon">
              <div *ngIf="(fctsForm.get('icon')['invalid'] && fctsForm.get('icon')['touched']) || fctsForm.get('icon')['dirty']">
                <small class="text-danger" *ngIf="fctsForm.get('icon').errors && fctsForm.get('icon').errors['required']">please enter facility icon.</small>
              </div>
            </div>
        </div>
        <div class="form-group row">
          <label for="txtname" class="col-sm-3 col-form-label">Name : </label>
          <div class="col-sm-9">
            <input type="text" [readonly]="status==2" [class.is-invalid]="fctsForm.get('name')['invalid'] && fctsForm.get('name')['touched']" formControlName="name" class="form-control form-control-lg" id="txtname" placeholder="Name">
            <div *ngIf="(fctsForm.get('name')['invalid'] && fctsForm.get('name')['touched']) || fctsForm.get('name')['dirty']">
                <small class="text-danger" *ngIf="fctsForm.get('name').errors && fctsForm.get('name').errors['required']">please enter facility name.</small>
            </div>
          </div>
        </div>
  </div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <button type="submit" class="btn btn-primary" *ngIf="status != 2" [disabled]="!fctsForm.valid">Save</button>
</div>
</form>